# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# yarn monorepo-sub 는 monorepo-main 에서 돌릴때 yarn, module 등이 포함되면 충돌나기 때문에 gitignore 한다
.yarn/*
yarn.lock
.pnp*